## Job Advertisement Analysis

In this section, we will analyze the job advertisement data. This analysis will only cover a small portion of the insights hidden within the data.

In [1]:
import pandas as pd
from datetime import datetime

In [2]:

df = pd.read_csv("job_posts.csv")
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,<8MT,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,<12MT,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,<8MT,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,<3MT,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
4,NaN,False,2017-05-01 20:23:08,NaN,توسعه دهنده #C,2017-06-30 20:23:08,C,NaN
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,>12MT,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

### Preprocessing

In [3]:
# remove rows wihout "Salary", "Level" and "Collaboration Type" 
df = df.dropna(subset=["Salary","Level","Collaboration Type"],how='all')
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,<8MT,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,<12MT,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,<8MT,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,<3MT,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
5,J,False,2020-10-11 12:02:37,NaN,Associate Product Manager,2020-11-08 01:27:52,C,FT
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,>12MT,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

In [ ]:

df["Salary"]=df['Salary'].replace({'MT':''}, regex=True)
df["Salary"]=df['Salary'].replace({'<':''}, regex=True)
df["Salary"]=df['Salary'].replace({'>':''}, regex=True)
df

C:\Users\Asus\AppData\Local\Temp\ipykernel_11712\1483391709.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"]=df['Salary'].replace({'MT':''}, regex=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_11712\1483391709.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"]=df['Salary'].replace({'<':''}, regex=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_11712\1483391709.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"]=df['Salary'].replace({'>':''}, regex=True)

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,8,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,12,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,8,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,3,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
5,J,False,2020-10-11 12:02:37,NaN,Associate Product Manager,2020-11-08 01:27:52,C,FT
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,12,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

Fill the missing values in the Salary column by the average salary per level. Specifically, if the Salary for a Junior (J) advertisement is missing, fill it with the average salary for all juniors; if it's for a Senior (S) advertisement, fill it with the average salary for all seniors; similarly, for Middle-level (M) and Intern (I) advertisements, use the respective averages.

In [5]:
import numpy as np
# fill nan values in "Salary"
df_salary=df.copy()
df_salary['Salary']=df_salary['Salary'].astype('Int32')
df_salary=df_salary.drop(columns=['Offers Remote','Publish Time','Title','Close Time','State',"Collaboration Type"])

grouped=df_salary.groupby('Level')['Salary'].apply(lambda x: x.mean())

junior_mean=grouped[1]
mid_mean=grouped[2]
senior_mean=grouped[3]
intern_mean=grouped[0]



df.loc[(df['Level'] == 'J') & df['Salary'].isna(), 'Salary'] = junior_mean
df.loc[(df['Level'] == 'M') & df['Salary'].isna(), 'Salary'] = mid_mean
df.loc[(df['Level'] == 'S') & df['Salary'].isna(), 'Salary'] = senior_mean
df.loc[(df['Level'] == 'I') & df['Salary'].isna(), 'Salary'] = intern_mean
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,8,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,12,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,8,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,3,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
5,J,False,2020-10-11 12:02:37,5.62008,Associate Product Manager,2020-11-08 01:27:52,C,FT
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,8.790408,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,8.790408,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,8.790408,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,8.790408,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,12,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

### Step 1: rate of job advertisements offering remote work after COVID-19
How much has the rate of job advertisements offering remote work increased compared to before the first official COVID-19 case in Iran? The "rate of job advertisements offering remote work" refers to the ratio of job ads offering remote work to the total number of ads.

In [6]:
start_of_corona = datetime.strptime("2020-02-19", "%Y-%m-%d")
start_of_corona

datetime.datetime(2020, 2, 19, 0, 0)

In [7]:

df_after=df.copy()
df_after=df_after[df_after["Publish Time"]>="2020-02-19"]
value_count=df_after["Offers Remote"].value_counts()
remote_after=value_count[1]

df_before=df.copy()
df_before=df_before[df_before["Publish Time"]<"2020-02-19"]
value_count_before=df_before["Offers Remote"].value_counts()
sum1=(value_count_before[1]+value_count_before[0])+(value_count[1]+value_count[0])
remote_before=value_count_before[1]

In [8]:

remote_after_corona = df.loc[(df['Publish Time']>"2020-02-19")&(df['Offers Remote'] == True)].shape[0]

remote_before_corona = df.loc[(df['Publish Time']<"2020-02-19")&(df['Offers Remote'] == True)].shape[0]

remote_growth = (remote_after_corona - remote_before_corona)/sum1
remote_growth

0.23820038642009383

# Step 2: Job Posting Time Distribution Analysis 
In this step, you need to categorize the 24-hour day into four time periods (dawn, morning, noon, night) and count how many job advertisements were posted in each period.

In [11]:
from datetime import time

df_copy3 = df.copy()
df_copy3['Publish Time'] = pd.to_datetime(df_copy3['Publish Time'])

dawn = time(hour=5, minute=59, second=59)
morning = time(hour=11, minute=59, second=59)
noon = time(hour=17, minute=59, second=59)

def discretize_time1(t):
    if t.time() <= dawn:
        return "dawn"
    elif t.time() <= morning:
        return "morning"
    elif t.time() <= noon:
        return "noon"
    else:
        return "night"

df_copy3['Time'] = df_copy3['Publish Time'].apply(discretize_time1)

discrete_time = df_copy3['Time'].value_counts()

discrete_time = discrete_time.sort_values(ascending=False)

discrete_time

Time
noon       3950
morning    2443
night       746
dawn        107
Name: count, dtype: int64

### Step 3: Data Payment Analysis
In this step, we want to analyze the amount companies pay to individuals working in the data field. To filter job postings related to the data field, a list of keywords is provided below. We assume that any job posting with one of these keywords in the title  is related to the data field. The title does not need to be entirely composed of a keyword; if a keyword appears partially in the title, the job posting is considered data-related.

In [12]:
keywords = ['machine learning', 'machinelearning', 'داده' , 'data scientist' ,  'datascientist' ,\
        'هوش مصنوعی' ,'پردازش ویدئو' , 'data engineer' , 'dataengineer' ,'بینایی ماشین' , 'یادگیری ماشین' ,\
        'deep learning', 'deeplearning', 'یادگیری عمیق', 'دیتاساینتیست' , 'artificial intelligence' \
        ,'artificialintelligence', 'هوش' , 'data analysis' , 'dataanalysis' , 'پردازش تصویر' , 'شبکه‌های عمیق', 'علم‌داده']

In [13]:


df['Title'] = df['Title'].str.lower()

pattern = '|'.join(keywords)
print(pattern)

machine learning|machinelearning|داده|data scientist|datascientist|هوش مصنوعی|پردازش ویدئو|data engineer|dataengineer|بینایی ماشین|یادگیری ماشین|deep learning|deeplearning|یادگیری عمیق|دیتاساینتیست|artificial intelligence|artificialintelligence|هوش|data analysis|dataanalysis|پردازش تصویر|شبکه‌های عمیق|علم‌داده

C:\Users\Asus\AppData\Local\Temp\ipykernel_11712\2373712291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Title'] = df['Title'].str.lower()

In [14]:

data_mean = df[df.Title.str.contains(pattern)]
data_mean

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
19,S,False,2020-02-15 10:13:21,12,senior data engineer,2020-04-16 03:00:06,C,FT
41,S,True,2020-02-15 10:14:50,8.790408,کارشناس هوش مصنوعی,2020-03-10 09:42:19,C,FT
66,S,False,2019-12-17 10:44:51,8.790408,کارشناس پایگاه داده,2020-02-16 03:00:05,C,FT
72,S,False,2020-04-13 12:57:18,4,کارشناس بینایی ماشین و یادگیری ماشین,2020-06-13 03:00:06,C,FT
150,S,False,2020-02-15 10:13:29,8.790408,کارشناس پایگاه داده,2020-04-16 03:00:06,C,FT
...,...,...,...,...,...,...,...,...
7575,J,False,2021-05-11 13:56:21,5.62008,data scientist,2021-05-31 16:38:24,C,FT
7617,S,False,2021-06-19 15:49:25,8,متخصص پایگاه داده آقا,NaN,PB,FT
7622,S,False,2021-06-19 16:30:55,8,متخصص کلان داده bigdata آقا,NaN,PB,FT
7626,S,False,2021-06-19 16:32:32,8,متخصص داده کاوی آقا,NaN,PB,FT
7667,S,False,2021-05-17 08:17:06,8.790408,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT

In [15]:
df_copy4 = df.copy()
df_copy4['Title'] = df_copy4['Title'].str.lower()

df_copy4['Salary'] = pd.to_numeric(df_copy4['Salary'], errors='coerce')

data_jobs = df_copy4[df_copy4["Title"].str.contains('|'.join(keywords), regex=True)]

data_jobs = data_jobs.drop(columns=['Offers Remote','Publish Time','Title','Close Time','State','Collaboration Type'])
data_jobs

     Level     Salary
19       S  12.000000
41       S   8.790408
66       S   8.790408
72       S   4.000000
150      S   8.790408
...    ...        ...
7575     J   5.620080
7617     S   8.000000
7622     S   8.000000
7626     S   8.000000
7667     S   8.790408

[251 rows x 2 columns]

### average salary for each level

In [16]:

data_mean = data_jobs.groupby('Level')['Salary'].mean()
data_mean

Level
I     2.256501
J     5.750707
M    12.000000
S     8.891994
Name: Salary, dtype: float64